@(title: String)(content: Html)

<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.css"))'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
    <script src='@routes.Assets.at("main.js")'></script>
    <style>
    body {
        margin-top: 50px;
    }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Go Reactive</a>
    </div>
</nav>
<div class="container">
    <div ng-controller="Hello">
        <form ng-submit="sendName()">
            <label>Name:</label>
            <input type="text" ng-model="yourName">
            <input class="btn-primary" type="submit" value="Send">
        </form>
        {{msg}}
        <ul><li ng-repeat="tweet in tweets">{{tweet}}</li></ul>
    </div>
</div>
</body>
</html>
